body {
  font-family: "Cinzel", serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.head{
     font-family: "Nanum Myeongjo", serif;
        text-align: center;
            font-size: 36px;
            color: #fff; /* Default color */
            transition: color 0.5s ease; /* Transition effect for color change */
            cursor: pointer; /* Change cursor to pointer on hover */
}

        .head:hover {
            color: #333; /* Change color on hover */
        }
  .mainnav {
            font-family: "Nanum Myeongjo", serif;
            background-color: #132E35; /* Set background color */
            color: #fff; /* Set text color */
            padding: 10px 0; /* Add padding */
            text-align: center; /* Center align text */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
            transition: background-color 0.3s ease; /* Add transition effect */
        }

        .mainnav:hover {
            background-color: #2D4A53; /* Darker background on hover */
        }

        .mainnav .head {
            font-size: 24px; /* Larger font size */
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
            font-weight: bold; /* Bold font weight */
            text-transform: uppercase; /* Uppercase text */
            letter-spacing: 2px; /* Add letter spacing */
            transition: color 0.3s ease; /* Add transition effect */
        }

        .mainnav .head:hover {
            color: #ffcc00; /* Change color on hover */
        }

        .mainnav ul {
            list-style-type: none; /* Remove list styles */
            padding: 0; /* Remove default padding */
            margin: 0; /* Remove default margin */
            display: flex; /* Use flexbox for layout */
            justify-content: center; /* Center align items horizontally */
        }

        .mainnav ul li {
            margin: 0 15px; /* Add spacing between items */
            display: inline; /* Display items inline */
        }

        .mainnav ul li a {
            color: #fff; /* Set link color */
            text-decoration: none; /* Remove underline */
            transition: color 0.3s ease; /* Add transition effect */
        }

        .mainnav ul li a:hover {
            color: #ffcc00; /* Change link color on hover */
        }
        .mainnav form {
    display: inline-block; /* Ensure the form is displayed inline */
    margin-left: 15px; /* Add some spacing between the form and other navigation items */
}

.mainnav form input[type="text"],
.mainnav form button {
    padding: 5px 10px; /* Add padding to the input and button */
    border: 1px solid #fff; /* Add a border to the input and button */
    background-color: transparent; /* Make the background transparent */
    color: #fff; /* Set text color to white */
}

.mainnav form button {
    background-color: #ffcc00; /* Set button background color */
    color: #132E35; /* Set button text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s ease; /* Add transition effect */
}

.mainnav form button:hover {
    background-color: #fff; /* Change button background color on hover */
    color: #132E35; /* Change button text color on hover */
}


.moviecontent {
    margin-bottom: 20px;
     font-family: "Cinzel Decorative", serif;
      animation: trasnitionIn 1.5s;
}

.moviecontent img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Form display styles */
.formdisplay {
    margin-bottom: 20px;
}

.formdisplay form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.formdisplay label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.mainnav form {
    display: inline-block; /* Ensure the form is displayed inline */
    margin-left: 15px; /* Add some spacing between the form and other navigation items */
}

.mainnav form input[type="text"],
.mainnav form button {
    padding: 5px 10px; /* Add padding to the input and button */
    border: 1px solid #fff; /* Add a border to the input and button */
    background-color: transparent; /* Make the background transparent */
    color: #fff; /* Set text color to white */
}

.mainnav form button {
    background-color: #ffcc00; /* Set button background color */
    color: #132E35; /* Set button text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s ease; /* Add transition effect */
}

.mainnav form button:hover {
    background-color: #fff; /* Change button background color on hover */
    color: #132E35; /* Change button text color on hover */
}

.formdisplay input[type="text"],
.formdisplay textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.formdisplay input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.formdisplay input[type="submit"]:hover {
    background-color: #0056b3;
}
.comments {
    margin-bottom: 20px;
}

.comment {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment .comment-info {
    margin-bottom: 10px;
}

.comment .comment-info .commenter-name {
    font-weight: bold;
    color: #333;
}

.comment .comment-info  {
    color: #777;
}

.comment .comment-text {
    color: #666;
}



.loginbox {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    animation:trasnitionIn 1.5s ;
}

.loginbox h2 {
    margin-top: 0;
    text-align: center;
}

.loginbox label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.loginbox input[type="text"],
.loginbox input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.loginbox button {
    background-color:  #2D4A53;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.loginbox button:hover {
    background-color: #555;
}

.error {
    color: red;
    margin-top: 10px;
}


.allmoviescontent {
    display: flex; /* Use flexbox to create horizontal layout */
    flex-wrap: wrap; /* Wrap items to next line if necessary */
    justify-content: center; /* Center items horizontally */
    animation: trasnitionIn 1.5s;
   
}
.movie {
            display: inline-block;
            margin: 10px;
            text-align: center;
            position: relative;
            transition: transform 0.3s ease; /* Add transition effect to transform property */
        }

        .movie img {
            width: 200px; /* Set width of the image */
            height: auto; /* Maintain aspect ratio */
        }

        /* Add hover effect */
        .movie:hover {
            transform: scale(1.1); /* Increase size on hover */
            z-index: 1; /* Ensure hovered movie is on top of others */
        }

        /* Add overlay for movie details */
        .overlay {

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
            color: white;
            font-size: 1.2em;
            opacity: 0; /* Initially hidden */
            transition: opacity 0.3s ease; /* Add transition effect to opacity property */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Show overlay on hover */
        .movie:hover .overlay {
            opacity: 1; /* Show overlay on hover */
        }

        /* Add styling for movie title */
        .movie a {
            color: white;
            text-decoration: none;
        }


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* CSS for User Management Page */



/* User table */
.usertable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.usertable th, .usertable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.usertable th {
    background-color: #f2f2f2;
}

/* Create button */
.createbutton {
    margin-bottom: 20px;
}

.createbutton button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.createbutton button:hover {
    background-color: #0056b3;
}

/* Add new user form */
.newuser {
    margin-bottom: 20px;
}

.newuser h2 {
    margin-bottom: 10px;
}

.newuser label {
    display: block;
    margin-bottom: 5px;
}

.newuser input[type="text"],
.newuser input[type="email"],
.newuser input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.newuser button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.newuser button:hover {
    background-color: #218838;
}

/* Update user form */
.updateuser, .deleteuser {
    margin-bottom: 20px;
}

.updateuser h2, .deleteuser h2 {
    margin-bottom: 10px;
}

.updateuser label, .deleteuser label {
    display: block;
    margin-bottom: 5px;
}

.updateuser input[type="text"],
.updateuser input[type="email"],
.deleteuser input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.updateuser button, .deleteuser button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.updateuser button:hover, .deleteuser button:hover {
    background-color: #c82333;
}

.admindashboardcontainer {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: trasnitionIn 1.5s;
}

h2 {
    color: #333;
}

.usertable, .Movietable {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
}

table td {
    text-align: left;
}

button {
    padding: 8px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.createbutton {
    margin-top: 20px;
}

form li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

.video-container {
            position: relative;
            height: 100vh;
            overflow: hidden;
        }
        #video-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
    z-index: -1; 
        }

        .welcomeoverlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 5; /* Ensure the overlay is on top of the video */
            color: #fff;
        }
   
        .explore-btn {
            background-color: #ffcc00;
            color: #000;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 18px;
            transition: background-color 0.3s ease;
            z-index: 5; /* Ensure the button is on top of the overlay */
            position: relative;
            display: inline-block;
            margin-top: 20px; /* Adjust as needed */
        }
        .explore-btn:hover {
            background-color: #ffdb4d;
        }
        .hidden {
    display: none;
}


@keyframes trasnitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);

    }to{
        opacity: 1;
        transform: rotateX(0);

    }
}
/* Hide the registration form initially */
#register {
    display: none;
}


/* When the registration form is the target, make it visible */
#register:target {
    display: block;
}
/* Hide the loginbox container when the registration form is the target */
#loginbox:target {
    display: none;
}
#register-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="password"],
#register-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#register-form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#register-form input[type="submit"]:hover {
    background-color: #45a049;
}
